save-prefix=""
store-dir=/pnpm/store
global-dir=/pnpm/global
global-bin-dir=/pnpm/bin
state-dir=/pnpm/state
cache-dir=/pnpm/cache
# virutal-store-dir=/pnpm/virtual-store # Not compatible with turbopack
